---
---

$light-text: #DDDDEE;

$bf-dark: #3C6304;
$bf-medium: #558A06;
$bf-light: #72A813;

$ruby-dark: #D04041;
$ruby-medium: #F7605C;
$ruby-light: #F77774;

$elixir-dark: #372949;
$elixir-medium: #564072;
$elixir-light: #8D74B5;

$primary-teal-dark: #001D1E;
$primary-teal-dark-1: #003333;
$primary-teal-medium: #34807E;
$primary-teal-medium-1: #44A8A3;
$primary-teal-light: #30C1B0;

$white: #FFFFFF;
// FAFAFA - light
// 84A5AE - light accent
// 3AAD5D - main
// 827FA4 - dark accent
// 21202A - dark shade

html {
  background-color: $light-text;
}

body {
  padding-top: 50px;
  color: $elixir-dark;
  font-family: 'Alegreya', serif;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: normal;
  color: $elixir-medium;
}

h2 {
  font-size: 24px;
  color: $bf-medium;
}

p {
  color: $primary-teal-dark-1;
}

a {
  color: $bf-medium;
}

a:hover {
  color: $ruby-light;
}

.row img {
  width: 100%;  // usually we want images to size to container
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-default {
  background: #fff;
  .navbar-brand {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-size: 26px;
    padding: 22px;
    color: $elixir-medium;
  }
}

.navbar .nav {
  li>a {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    padding: 22px;
    color: $elixir-medium;
  }
}

footer {
  padding: 20px 0px;
  background-color: $elixir-dark;
  color: $light-text;
  h3, h4 {
    color: $light-text;
    font-variant: small-caps;
  }
  a, a:visited {
    color: $light-text;
  }
  a:hover {
    color: $primary-teal-medium-1;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  p {
    color: $light-text;
  }
}

.hero {
  width: 100%;
  height: auto;
  padding: 0px 0px 20px 0px;
}

.overlay-text {
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 32px;
  padding: 20px 50px;
  p {
    color: $light-text;
    font-family: 'Alegreya Sans', sans-serif;
  }
}

.banner {
  margin: 40px 0px;
  color: $primary-teal-light;
  padding: 120px;
  &.bf-purple {
    background-image: url('/images/purple-background-with-logo-shadow-bottom.png');
    background-repeat: no-repeat;
    background-color: $elixir-medium;
    background-position: right;
    p {
      color: $white;
      min-width: 250px;
    }
  }
  &.bf-ruby {
    background-image: url('/images/red-background-with-logo-shadow-bottom.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: $ruby-medium;
    min-width: 300px;
    width: 100%;
    p {
      color: $white;
      min-width: 260px;
    }
  }
  &.accent {
    background: $primary-teal-medium-1;
  }
  h2 {
    color: $primary-teal-light;
  }
  p {
    font-size: 24px;
    text-align: center;
    margin: 0px auto;
    font-family: 'Alegreya', serif;
    padding-bottom: 10px;
  }
}

.quote {
  background: $light-text;
  color: $primary-teal-light;
  font-size: 24px;
  font-family: 'Alegreya', serif;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.headline {
  text-align: center;
  font-size: 32px;
  padding-bottom: 40px;
}

.toc {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-top: none;
}

#bridgefoundry-logo {
  float: left;
  width: 45px;
  margin: 10px;
}

.bridgefoundry-advisors-imgs {
  margin: 0 auto 5px 5px;border: 2px solid #ccc;width: 150px;height: 150px;float: right;
}

.large-text {
  font-size: 40px;
}

/* Donate button */
.donate-area {
  height: 60px;
}

.donate-btn {
  margin: 4px;
  color: #fff;
  background-color: $ruby-dark;
  border-bottom:2px solid #af4451;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-decoration:none;
  float: left;
}

.donate-btn:hover {
  color: #fff;
  background-color: #df6a78;
  border-bottom:2px solid #b25560;
  outline: none;
  text-decoration:none
}


.donate-btn:active {
  color: #fff;
  background-color: #c04b59;
  border-top:2px solid #9a3c47;
  margin-top: 2px;
}

/* Newsletter button */
.newsletter-area {
  height: 60px;
}

.btn {
  margin: 4px;
  color: #fff;
  background-color: $primary-teal-medium-1;
  border-bottom:2px solid darken($primary-teal-medium-1, 40%);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-decoration:none;
}

.newsletter-btn {
  margin: 4px;
  color: #fff;
  background-color: $primary-teal-medium;
  border-bottom:2px solid darken($primary-teal-medium-1, 40%);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-decoration:none;
  float: left;
}

.newsletter-btn:hover, .newsletter-bin:visited {
  color: #fff;
  background-color:  darken($primary-teal-medium-1, 20%);
  border-top: 2px solid darken($primary-teal-medium-1, 50%);
  border-bottom: 2px solid $primary-teal-medium-1;
  outline: none;
  text-decoration: none;
}


.newsletter-btn:active {
  color: #fff;
  background-color: lighten($primary-teal-medium-1, 20%);
  border-bottom: 2px solid lighten($primary-teal-medium-1, 30%);
  margin-top: 2px;
}


.board {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.board__info{
  padding-right: 60px;
}

.board__info--sponsor-logo {
  margin-bottom: 10px;
}
