---
---

// $dark: #221F5E;
$dark: #21202A;
$dark2: #2e258a;
$primary: #3AAD5D;
$light: #FAFAFA;
$light2: #84A5AE;

$light-text: #DDDDEE;
$ruby-dark: #e64024;
$ruby-light: #EB6852;
$elixir-dark: #634580;

$neutral: #84A5AE;

// FAFAFA - light
// 84A5AE - light accent
// 3AAD5D - main
// 827FA4 - dark accent
// 21202A - dark shade

html {
  background-color: $light;
}

body {
  padding-top: 50px;
  background-color: $light;
  color: $dark;
  font-family: 'Alegreya', serif;
  font-size: 18px;
}

h1, h2, h3, h4 {
  color: $dark2;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 24px;
}

.row img {
  width: 100%;  // usually we want images to size to container
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-default {
  background: #fff;
  .navbar-brand {
    color: $dark2;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-size: 26px;
  }
}

.navbar .nav {
  li>a {
    color: $dark2;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
  }
}

footer {
  padding: 20px 0px;
  background-color: $dark;
  color: $light-text;
  h3, h4 {
    color: $light-text;
    font-variant: small-caps;
  }
  a, a:visited {
    color: $light-text;
  }
  a:hover {
    color: $light2;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
}

.hero {
  width: 100%;
  height: auto;
  padding: 0px 0px 20px 0px;
}

.overlay-text {
  width: 100%;
  height: auto;
  position: absolute;
  color: $light;
  font-size: 32px;
  padding: 20px 50px;
  p {
    font-family: 'Alegreya Sans', sans-serif;
  }
}

.banner {
  margin: 40px 0px;
  color: $light;
  padding: 120px;
  &.purple {
    background: $elixir-dark;
  }
  &.ruby {
    background: $ruby-light;
  }
  &.accent {
    background: $light2;
  }
  h2 {
    color: $light;
  }
  p {
    font-size: 24px;
    text-align: center;
    margin: 0px auto;
    font-family: 'Alegreya', serif;
    padding-bottom: 10px;
  }
}

.quote {
  background: $light2;
  color: $light;
  font-size: 24px;
  font-family: 'Alegreya', serif;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.headline {
  text-align: center;
  font-size: 32px;
  padding-bottom: 40px;
}

.toc {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-top: none;
}

#bridgefoundry-logo {
  float: left;
  width: 100px;
  margin-right: 10px;
}

.bridgefoundry-advisors-imgs {
  margin: 0 auto 5px 5px;border: 2px solid #ccc;width: 150px;height: 150px;float: right;
}



/* Donate button */
.donate-area {
  height: 60px;
}
.donate-btn {
  margin: 4px;
  color: #fff;
  background-color: #db5566;
  border-bottom:2px solid #af4451;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-decoration:none;
  float: left;
}

.donate-btn:hover {
  color: #fff;
  background-color: #df6a78;
  border-bottom:2px solid #b25560;
  outline: none;
  text-decoration:none
}


.donate-btn:active {
  color: #fff;
  background-color: #c04b59;
  border-top:2px solid #9a3c47;
  margin-top: 2px;
}

/* Newsletter button */
.newsletter-area {
  height: 60px;
}
.newsletter-btn {
  margin: 4px;
  color: #fff;
  background-color: $neutral;
  border-bottom:2px solid darken($neutral, 40%);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-decoration:none;
  float: left;
}

.newsletter-btn:hover, .newsletter-bin:visited {
  color: #fff;
  background-color: lighten($neutral, 25%);
  border-bottom: 2px solid lighten($neutral, 30%); 
  outline: none;
  text-decoration: none;
}


.newsletter:active {
  color: #fff;
  background-color: lighten($elixir-dark, 30%);
  border-bottom: 2px solid lighten($elixir-dark, 80%);
  margin-top: 2px;
}


.board {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.board__info{
  padding-right: 60px;
}

.board__info--sponsor-logo {
  margin-bottom: 10px;
}
