<footer>
  <div class="container">
  <div class="row">
    <div class="col-md-2">
        <h4>Volunteer communities</h4>
        <ul>
        <li><a href="http://railsbridge.org/">RailsBridge</a></li>
        <li><a href="http://www.clojurebridge.org/">ClojureBridge</a></li>
        <li><a href="https://github.com/mobilebridge">MobileBridge</a></li>
        <li><a href="https://github.com/gobridge">GoBridge</a></li>
        <li><a href="http://elixirbridge.org/">ElixirBridge</a></li>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfoY2hKEEycZtYcNZOvZjFYoZ2Clhwl2_kfaDXkG5HzB0I9fA/viewform">ElmBridge</a></li>
        <li><a href="http://scalabridge.org/">ScalaBridge</a></li>
        <li><a href="https://github.com/rust-community/rustbridge">RustBridge</a></li>
        </ul>
  </div>
    <div class="col-md-2">
        <h4>Additional Resources</h4>
        <ul>
        <li><a href="doc/bridge-building">How to create a Bridge</a></li>
        <li><a href="code-of-conduct">Code of Conduct</li>
        <li><a href="http://www.railsmentors.org/">Rails Mentors</a></li>
        <li><a href="http://testfirst.org/">Test First</a></li>
        <li><a href="kids.html">Teaching Kids</a></li>
        </ul>

    </div>
    <div class="col-md-2">
    </div>

      <div class="col-md-2">
      <h4>Contact Us</h4>
      <p>hello@bridgefoundry.org</p>
      <p>&nbsp;</p>
      <p><a href="http://eepurl.com/dE9xx5">Get Our Newsletter</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
        </div>
  </div>
  <p><a href="{{ site.repos[0].url }}/edit/master/{{ page.path }}">Edit this page</a> or <a href="{{site.repos[0].url }}/issues">file an issue</a> on GitHub.</p>
  <p>&copy; Bridge Foundry 2013-2018</p>
</div>
</footer>
