<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include topbar.html %}
      {{ content }}
      {% include footer.html %}
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.github.url }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Alegreya:400,700" rel="stylesheet">
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6838427.js"></script>
  </body>
</html>
